---
import Layout from '../../layouts/base.layout.astro';

const allPosts = await Astro.glob('../posts/*.md');
const tags = [...new Set(allPosts.map(
  (post) => post.frontmatter.tags
).flat())];

---

<Layout title="Crash Course Programming - Post Tags">
  <main>
    <p>Welcome to the ugliest page on earth</p>
    <p>TAGS:</p>
    <div class="flex flex-wrap">
      {tags.map((tag) => (
        <span class="border-4 m-2 hover:bg-orange-600"><a href={`/tags/${tag}`}>{tag}</a></span>
      ))}
    </div>
  </main>
</Layout>
