---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

// Following https://docs.astro.build/en/tutorial/2-pages/2/

---

<Layout title="Crash Course Programming">
	<main>
		<h4>
			I want to teach you how to program computers.
		</h4>
		<p>
			In today's day and age it has never been easier to enter the world of computer programming. Pretty much every adult has a computer that is capable of writing some kind of computer code, even if it's an old laptop that you've had forever.
		</p>
		<p>
			All you need is a desire to learn and a willingness to keep trying when you don't get it right away. There is no magic bullet. You will get frustrated - that's true no matter what you're learning. If you're willing to take on this challenge, then I want to come alongside you and help.
		</p>
		<p>
			This site is designed to be a place where you can come to look for helpful information for your journey to becoming a computer programmer. I will be posting semi-regularly as I build more course material, and will be posting across various topics from computer science.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="/posts/data-structures"
				title="Head to the Blog"
				body="Head over to the information you actually want."
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		margin: 0;
	}
	.marker-underline {
		border-bottom: 3px solid black;
		border-top: 3px solid black;
		border-radius: 50% 50% / 50% 30%;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit);
		gap: 1rem;
		padding: 0;
	}
</style>
