---
export interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<div class="site-header">
<a href="/">
	<div class="md:max-w-[60ch] max-w-[30ch] flex flex-col items-center justify-center drop-shadow-[0_2px_2px_rgba(0,0,0.8)]">
		<span class="site-title">Crash Course Programming</span>
		<span class="site-tagline">By Sam Huckaby</span>
	</div>
</a>
<style>
	.header-container {
		max-width: 60ch;
		display: flex;
		flex-direction: column;
	}

  .site-header {
    width: 100%;
		height: 150px;
		background-image: url("/logo_pile.png");
		background-size: 200px 200px;
		background-repeat: no-repeat;
		background-color: black;
		background-position-y: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		/* border-radius: 50% 10% / 40% 50%; */
  }
	.site-title {
		max-width: 60ch;
		font-size: 36px;
		color: #CCCCCC;
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	}

	.site-tagline {
		color: #f97316;
		align-self: end;
	}

	.site-logo {
		height: 100px;
	}
</style>
