---
import { languages } from '../i18n/ui';
import { getLangFromUrl } from '../i18n/utils';
const urlLang = getLangFromUrl(Astro.url);
---
<ul class="border-b whitespace-nowrap overflow-x-scroll py-2">
  {Object.entries(languages)
    .filter(([lang, label]) => lang !== urlLang)
    .map(([lang, label]) => (
    <li class="inline-block px-2 text-gray-400 hover:text-black">
      <a class="h-full" href={`/${lang}/`}>
        {label}
      </a>
    </li>
  ))}
</ul>